{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/polls.css' %}">
	</head>
	<div class="page-header">
		<h1> {{ question.question_text }}</h1>
	</div>

	{% if latest_question_list %}
		<ul>
		{% for question in latest_question_list %}
			<li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No polls area available.</p>
	{% endif %}

</html>